<%= form_tag sessions_path do |f| %>
	<p>
		<%= text_field_tag :email, params[:email], :placeholder => "E-mail"%>
	</p>
	<p>
		<%= password_field_tag :password, params[:password], :placeholder => "Password"%>
	</p>
	<p class="button"><%= submit_tag "Log in" , :class => "btn btn-large"%></p>
<% end %>