<p>
	<h4><small><%= current_user.email %></small>
	<% if is_admin?(@project.id) %>
		<!-- kustutamine kutsutakse välja Taski peal -->
		<% if defined?(@task) %>
		<%= link_to "", project_task_comment_path(@project, @task, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: "icon-remove" %>
		<% else %>
		 <%= link_to "", project_comment_path(@project, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: "icon-remove" %>
		<% end %>
	<% end %>
	</h4>
</p>
<p>
	<h4><small><%= comment.created_at.strftime('%d.%m.%Y %H:%M') %></small></h4>
</p>
<p>
	<%= comment.content %>
</p>