<%= form_tag(project_tasks_path(@project), :method=>'post') do %>
  <div class="field">
    <%= text_field_tag :name, nil, :placeholder=>"Name", :class=>"span8" %>
    <%= text_area_tag :desc, nil, :placeholder=>"Short description", :class=>"span8" %>
  <div class="field">
  <%= select_tag :assignee, options_for_select(@project.ownerships.collect{ |u| [u.user.email, u.user.id] }), :class => "span8" %>
  </div>
  <div class="field">
    <%= datetime_select :deadline, :prompt => {:day => 'Choose day', :month => 'Choose month', :year => 'Choose year', :hour=>"Choose hour"}, :discard_minute => true, :class=>"span8"%>
  </div>
  <p>
      <%= check_box_tag :closed %>
  </p>
  <div class="actions">
    <%= submit_tag "Submit", class: "btn" %>
  </div>
<% end %>