<% if task.closed %>
  <tr class="green">
<% elsif task.deadline > Date.today %>
  <tr class="red">
<% else  %>
  <tr class="blue">
<% end %>
    <td><%= link_to task.name, project_task_path(@project, task) %></td>
    <td><%= task.content %></td>
    <td><%= task.deadline.strftime('%d.%m.%Y %H:%M') %></td>
    <td><%= User.find_by_id(task.user_id).email %></td>
    <% if is_admin?(@project)%>
    <td><%= link_to "", edit_project_task_path(@project, task), class: "icon-edit"%></td>
    <td><%= link_to "", project_task_path(@project, task), method: :delete, data: { confirm: 'Are you sure?' }, class: "icon-remove" %></td>
   	<% end %>
  </tr>
<br />
