<%= form_for [@project, @task] do |f| %>
  <div class="field">
    <%= f.text_field :name, :placeholder=>"Name", :class=>"span12" %>
  </div>
  <div class="field">
    <%= f.text_area :content, :placeholder=>"Description", :class=>"span12" %>
  </div>
  <div class="field">
    <%= f.datetime_select :deadline %>
  </div>
  <div class="field">
    <%= f.label :closed %><br />
    <%= f.check_box :closed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', project_tasks_path %>
