<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Content:</b>
  <%= @task.content %>
</p>
<p>
  <b>Deadline:</b>
  <%= @task.deadline %>
</p>

<p>
  <b>Assignee:</b>
  <%= User.find_by_id(@task.user_id).email %>
</p>

<p>
  <b>Finished?</b>
  <% if @task.closed %>
    yes
  <% else %>
    no
  <% end %>
</p>

 <h4> Comments</h4>
  <%= render @task.comments %>

 <h4> Add a comment</h4>
  <%= render "comments/form_task" %>
<% if is_admin?(@project) %>
<%= link_to 'Edit', edit_project_task_path(@project, @task) %> |
<% end %>
<%= link_to 'Back', projects_path %>
