<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-error">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= current_user.email %>
  </p>
  <p>
    <%= f.password_field :password, :placeholder => "Password" %>
  </p>
  <p>
    <%= f.password_field :password_confirmation, :placeholder => "Password confirmation"%>
  </p>
  <p><%= f.submit "Edit!", class: "btn btn-large" %></p>
<% end %>