<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div class="alert alert-error">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name,  :placeholder => "Name" %>
  </div>
  <div class="field">
    <%= f.text_field :description,  :placeholder => "Short description"%>
  </div>
  <div class="actions">
    <%= f.submit "Create!" , class: "btn"%>
  </div>
<% end %>
