<h1>Editing project</h1>

<%= render 'form' %>

<%= render "ownership/form" %>

<!-- Kuvan kasutajaõigused -->
<table>
  <thead>
    <td class="bold">User</td>
    <td class="bold">Access rights</td>
    <td></td>
  </thead>
  <% @project.ownerships.each do |ownership| %>
    <tr>
      <td>  <%= ownership.user.email %></td>
      <% if ownership.owner? %>
      <td>  Read/Write </td>
      <% else %>
      <td> Read </td>
      <% end %>
      <td>
        <% unless ownership.user == current_user %>
        <%= link_to 'Delete', project_ownership_path(@project, ownership), :method => :delete, :confirm => "Are you sure?", class: "btn"%>
        <% end %>
      </td>
    </tr>
 <% end %>
 </table>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
