<table style="width: 200px">
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><h4><%= link_to project.name, project_path(project.id) %></h4></td>
    <td>
      <% if is_admin?(project.id) %>
      <%= link_to "", edit_project_path(project), class: "icon-edit"%>
      <% end %>
    </td>
    <td>
      <% if is_admin?(project.id) %>
      <%= link_to "", project, method: :delete, data: { confirm: 'Are you sure?' }, class: "icon-remove" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td colspan="3"><h4><small><%= project.description %></small></h4></td>
  </tr>
<% end %>
</table>
<br />
<h4><%= link_to 'Create a new Project', new_project_path %></h4>