<p>
<h4><%= @project.name %></h4>
<h4><small><%= @project.description %></small></h4>
</p>
<h4>Tasks
	<% if is_admin? %>
	<%= link_to "", new_project_task_path(@project.id), :class=>"icon-plus",:alt=>"alt text" %>
	<% end %>
</h4>
<table id="myTable" class="span7">
<tr>
  <th>Name</th>
  <th>Content</th>
  <th>Deadline</th>
  <th>Assignee</th>
  <th></th>
  <th></th>
</tr>
<%= render @project.tasks %>
</table>
<br>
<h4> Comments</h4>
<%= render @project.comments %>

<h4> Add a comment</h4>
<%= render "comments/form" %>

<% if is_admin? %>
<%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>
<%= link_to 'Back', projects_path %>
