<%= form_tag(project_ownerships_path(@project), :method=>'post') do %>
	<p>
		<%= text_field_tag :e_mail, nil %>
	</p>
	<p>
		<%= label_tag :owner? %>
		<%= check_box_tag :owner %>
	</p>
	<%= submit_tag "Submit", class: "btn" %>
<% end %>