@import "bootstrap";


/* universal */

#wrapper{
	max-width:50em;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.green{
  background-color:#6EF573;
}

.blue{
  background-color:#F56E7E;
}

.red{
  background-color:#6E82F5;
}