<body>
<header class="navbar navbar-fixed-top">  
  <div class="navbar-inner">  
    <div class="container">  
    <ul class="nav">  
	  <li class="active">  
	    <a class="brand" href="/">TODO</a>  
	  </li>  
	  <li><%= link_to "Home", '/' %></li>
	</ul>
	<ul class="nav">  
	  <li class="dropdown">  
	    <a href="#"  
	          class="dropdown-toggle"  
	          data-toggle="dropdown">  
	          Projects  
	          <b class="caret"></b>  
	    </a>  
	    <ul class="dropdown-menu">  
  	     <li><%= link_to "Create a new project", '/projects/new' %></li>  
		  <li><%= link_to "My projects", '/projects' %></li>  
	    </ul>  
	  </li>  
	</ul> 
	<ul class="nav">  
	  <li><a href="#">Account</a></li>
	  <li><%= link_to "Log out!",  log_out_path %></li>   
	</ul>
    </div>  
  </div>  
</header>  
<div class="container" id="wrapper">
	<%= yield %>
</div>
</body>