<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
<body>
<% if current_user %>
<header class="navbar navbar-fixed-top">  
  <div class="navbar-inner">  
    <div class="container">  
    <ul class="nav">  
    <li class="active">  
      <a class="brand" href="/">TODO</a>  
    </li>  
    <li><%= link_to "Home", '/' %></li>
  </ul>
  <ul class="nav">  
    <li class="dropdown">  
      <a href="#"  
            class="dropdown-toggle"  
            data-toggle="dropdown">  
            Projects  
            <b class="caret"></b>  
      </a>  
      <ul class="dropdown-menu">  
         <li><%= link_to "Create a new project", '/projects/new' %></li>  
      <li><%= link_to "My projects", '/projects' %></li>  
      </ul>  
    </li>  
  </ul> 
  <ul class="nav">  
    <li><%= link_to "Account",  edit_user_path(current_user) %></li>
    <li><%= link_to "Log out!",  log_out_path %></li>   
  </ul>
    </div>  
  </div>  
</header>
<% end %> 
<div class="container" id="wrapper">
  <% if flash[:alert] %>
<div class="alert alert-error" ><%= flash[:alert] %></div>
<% end %>
<% if flash[:notice] %>
<div class="alert alert-success" ><%= flash[:notice] %></div>
<% end %>
  <%= yield %>
</div>
</body>
</html>